<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>TREATMENT<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>INDEX<span>

<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>TREATMENT</h2>
  </div>
  <div class="PageHead_practator-text">
    <h6>施術内容情報の新規作成・編集・削除用の画面</h6>
  </div>
</div>

<div class="signup-display">
  <h1 class="article-display_title">TREATMENT</h1>
</div>
