<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>GENRE<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>INDEX<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>EDIT<span>

<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>GENRE</h2>
  </div>
  <div class="PageHead_practator-text">
    <h6>記事のジャンルの編集管理画面</h6>
  </div>
</div>