<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>CHIROPRACTORS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>SHOW<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>RESERVATION<span>

<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>RESERVATION</h2>
  </div>
  <div class="PageHead_practator-text">
    ご予約ありがとうございます。<br>
    ご予約の履歴はマイページからご確認いただけます。
  </div>
</div>
<div class="signup-display">
  <p class="reservation-completed">ご予約が完了しました。</p>
  <%= link_to "トップ画面へ戻る", root_path, data: {"turbolinks" => false} , class: "btn btn-secondary col-sm-3 btn_completed" %>
</div>