<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>CHIROPRACTORS<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>SHOW<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>RESERVATION<span>

<div class="PageHead_practator">
  <div class="PageHead_practator-title">
    <h2>RESERVATION</h2>
  </div>
  <div class="PageHead_practator-text">
    ご予約ありがとうございます。
  </div>
</div>
<div class="signup-display">
  <h1 class="article-display_title">ご予約が完了しました。</h1>
</div>