<div class="breadcrumb-navigation">
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>HOME<span>
  <i class="fa fa-angle-right">&nbsp;</i>
  <span>ABOUT<span>

<div class="PageHead">
  <div class="PageHead_title">
    <h2>ABOUT</h2>
  </div>
  <div class="PageHead_text">
    <p>
      みつかいろについて<br>
      サイトのコンセプトや、使用シーンについてご説明いたします。
    </p>
  </div>

<div class="main-page">
  <div class="main-title">
    <h1>ABOUT</h1>
  </div>
  <h1 class="main-page_logo"></h1>
  <!--<h2 class="main-page_text">は</h2>-->
  <h2 class="main-page_text2">施術が必要な方と整体師さんをつなげるサービスです</h2>
  <h1 class="main-page_image"></h1>
  <div class="concept">
    <h1 class="concept_title">CONCEPT</h1>
    <div class="text-field">
    <p class="concept_text">
      自分に合った整体師さんがみつかり、施術を予約できるサイトです。<br><br>
      ユーザーはログインすることで、マイページ機能や予約機能を使用することができます。<br><br>
      マイページではプロフィールの編集や、予約の詳細情報の確認が行えます。<br><br>
      予約は整体師さんの詳細ページのカレンダーで行うことができます。予約可能な場所は◎で表示されており、そこをクリックすると予約フォームに遷移します。<br><br>
      あとは必要な情報を入力することで予約が可能になります。<br><br>
      予約だけでなく、整体に関する解剖学が学べる記事やニュース等を閲覧することが可能です。<br><br>
      記事の投稿や、編集は管理人のみが行えるようになっています。<br><br>
      整体師さんは必要な情報を入力することで新規登録することができ、古くから登録している整体師さんばかりに予約が殺到しないように、新着の整体師さんはトップページに表示されます。<br>
    </p>
    </div>
  </div>
</div>