// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//index画面ここから
//パンくずリスト
 .breadcrumb-navigation {
  position: relative;
  top: 48px;
  left: 190px;
 }
  .breadcrumb-navigation i {
  margin-left: 10px;
  }
  .breadcrumb-navigation span {
  font-weight: 100;
  margin: 0 8px;
 }
 .pageHead-article {
  display: flex;
  padding-bottom: 5px;
 }
 .PageHead-article_title {
  background-color: #fff;
  margin-top: 10px;
  height: 98px;
  width: 180px;
  border-radius: 0 10px 10px 0;
  text-align: center;
 }
 .PageHead-article_title h2 {
  font-weight: 600;
  font-family: 'Comic Sans MS';
  line-height: 98px;
 }

 .PageHead-article_text {
  height: 98px;
  width: 75%;
  position: relative;
  bottom: 108px;
  left: 182px;
  margin-top: 10px;
  padding-top: 25px;
  padding-left: 15px;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  text-align: left;
 }
  .article-index-display {
  position: relative;
  bottom: 118px;
  background-color: #fff;
  width: 86.8%;
  height: 100%;
  padding-bottom: 100px;
 }
 .article-display {
  position: relative;
  bottom: 102px;
  background-color: #fff;
  width: 86.8%;
  height: 100%;
  padding-bottom: 100px;
 }
 .article-box {
  position:relative;
  top: 15px;
  left: 15px;
  height: 197px;
  width: 803px;
  padding: 0.5em 1em;
  margin: 1em 0;
  border: 1px solid #eaebed;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
 }
 .article-box:hover {
  background-color: #badede;
 }
 .article-box_date {
  position:relative;
  top: 15px;
  left: 225px;
  color: #555555;
 }
 .article-box_title {
  position:relative;
  top: 30px;
  left: 210px;
  color: #555555;
 }
 .article-box_image {
  width: 180px;
  height: 180px;
  position:relative;
  bottom: 65px;
  right: 10px;
 }
 .article-box_text {
  position:relative;
  bottom: 145px;
  left: 225px;
  color: #555555;
 }
 .article_paginate {
  width: 803px;
  padding-top: 75px;
 }
 .pagination {
  justify-content: center;
}
 //index画面ここまで

 //show画面ここから
 .article_show-display {
  position: relative;
  bottom: 102px;
  background-color: #fff;
  width: 86.8%;
  height: 100%;
  padding-bottom: 100px;
 }
 .article-show_image {
  width: 720px;
  height: 50%;
  position: relative;
  margin-top: 30px;
  margin-left: 65px;
 }
 .article-space {
  width: 840px;
 }
 .article-show_title {
  position: relative;
  padding-top: 30px;
  margin-left: 65px;
  padding-left: 25px;
 }
 .article-show_title:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #858585;
 }
 .article-show_title:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #858585;
 }
  .article-show_date {
  padding-top: 15px;
  text-align: right;
  color: #BBBBBB;
 }
 .article-body-box {
  position:relative;
  left: 65px;
  height: 100%;
  width: 785px;
  border: 1px solid #eaebed;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
 }
 .article-show_text {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 65px;
  margin-right: 65px;
  color: #555555;
 }
 .article_button {
  position:relative;
  bottom: 10px;
  left: 730px;
 }
 //show画面ここまで