// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservation-display_form {
  padding-top: 40px;
  padding-left: 320px;
  color: #444444;
}